


.dataflow-unit {
  margin: 5px;
  line-height: 25px;
}
.dataflow-unit-text {
  margin-right: 5px;
  display: inline-block;
}

.dataflow-input-color {
  font-family: Courier !important;
  text-align: center;
  width: 60px;
}

.dataflow-colorbox {
  width: 22px;
  height: 22px;
  border: 1px solid gray;
  border-radius: 3px;
  display: inline;
  position: absolute;
  right: 10px;
}

.dataflow-unit-container {
  position: absolute;
  display: inline-block;
}

.dataflow-unit-input {
  width: 90%;
  font-family: Courier !important;
  text-align: center;
  line-height: 20px;
}
.dataflow-unit-checkbox {
  top: 2px;
  position: relative;
}

.dataflow-unit-select {
  width: 100%;
  text-align: center;
  top: -3px;
}

.dataflow-scalevis {
  height: 10px;
  margin-top: 3px;
}
