
h2, h3, li, p {
  font-family: Helvetica, sans-serif, arial, Lucida Grande, Lucida Sans;
}

h3, li, input {
  font-size: 0.8em;
  margin: 0;
}

input[type=search] {
  width: 100px;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.panel {
  width: 150px;
  position: absolute;
}

.view-header {
  text-align: center;
}

#dataflow {
  width: 100%;
  height: 100%;
  position: absolute;
}

#dataflow-edges {
  z-index: -1;
}

#dataflow-selectbox {
  background: #e0cfc2;
  border: 1px solid gray;
  opacity: 0.5;
  position: absolute;
  z-index: 1000;
}

.dataflow-edge {
  position: absolute;
  width: 100px;
  background-color: #777;
  height: 3px;
  transform-origin: top left;
}
.dataflow-edge:hover {
  box-shadow: 0px 0px 0px 5px #e0cfc2;
}
.dataflow-edge-arrow {
  float: right;
  position: relative;
  width: 18px;
  height: 9px;
  top: -3px;
  margin-right: 6px;
  background: url(../imgs/edge-arrow.png) no-repeat center;
}

.dataflow-node {
  left: 300px;
  top: 300px;
  display: block;
  text-align: center;
  position: absolute;
}
.dataflow-node-hover,
.dataflow-node-selected {
  border: 4px solid;
  margin-left: -3px;
  margin-top: -3px;
}
.dataflow-node-hover {
  border-color: #e0cfc2;
}
.dataflow-node-selected {
  border-color: #C0AFA2;
}
.dataflow-node-shape {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.dataflow-node-shape-superflat {
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
}
.dataflow-node-shape-flat {
  width: 100px;
  height: 50px;
  line-height: 25px;
}
.dataflow-node-shape-longflat {
  width: 150px;
  height: 80px;
  line-height: 25px;
  padding: 5px;
}
.dataflow-node-shape-vis {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}


.menu-square-icon {
  width: 80px;
  height: 80px;
}
.menu-flat-icon {
  width: 80px;
  height: 40px;
}

.dataflow-table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dataflow-table-view {
  width: 450px;
}

.dataflow-table-icon,
.dataflow-scatterplot-icon,
.dataflow-histogram-icon,
.dataflow-parallelcoordinates-icon,
.dataflow-intersect-icon,
.dataflow-minus-icon,
.dataflow-union-icon,
.dataflow-range-icon,
.dataflow-contain-icon,
.dataflow-value-maker-icon,
.dataflow-value-extractor-icon,
.dataflow-property-editor-icon,
.dataflow-property-mapping-icon {
  position: absolute;
  width: 100%;
  height: 100%;
}
.dataflow-table-icon {
  background: url(../imgs/table-icon.png) no-repeat center;
}
.dataflow-scatterplot-icon {
  background: url(../imgs/scatterplot-icon.png) no-repeat center;
}
.dataflow-parallelcoordinates-icon {
  background: url(../imgs/parallelcoordinates-icon.png) no-repeat center;
}
.dataflow-histogram-icon {
  background: url(../imgs/histogram-icon.png) no-repeat center;
}
.dataflow-intersect-icon {
  background: url(../imgs/intersect-icon.png) no-repeat center;
}
.dataflow-minus-icon {
  background: url(../imgs/minus-icon.png) no-repeat center;
}
.dataflow-union-icon {
  background: url(../imgs/union-icon.png) no-repeat center;
}
.dataflow-value-extractor-icon {
  background: url(../imgs/value-extractor-icon.png) no-repeat center;
}
.dataflow-value-maker-icon {
  background: url(../imgs/value-maker-icon.png) no-repeat center;
}
.dataflow-range-icon {
  background: url(../imgs/range-icon.png) no-repeat center;
}
.dataflow-contain-icon {
  background: url(../imgs/contain-icon.png) no-repeat center;
}
.dataflow-property-editor-icon {
  background: url(../imgs/property-editor-icon.png) no-repeat center;
}
.dataflow-property-mapping-icon {
  background: url(../imgs/property-mapping-icon.png) no-repeat center;
}


.dataflow-port,
.dataflow-port-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  line-height: 20px;
}
.dataflow-port-hover,
.dataflow-port:hover {
  border: 2px solid #AAA;
  margin-left: -1px;
  margin-top: -1px;
}
.dataflow-port-constants {
  background: #E7E7E4;
}
.dataflow-port-in {
  left: -22px;
}
.dataflow-port-out {
  left: 100%;
}
.dataflow-port-icon-in-single {
  background: url(../imgs/in-single.png) no-repeat center;
}
.dataflow-port-icon-out-single {
  background: url(../imgs/out-single.png) no-repeat center;
}
.dataflow-port-icon-out-multiple {
  background: url(../imgs/out-multiple.png) no-repeat center;
}

.dataflow-select {
  position: relative;
  width: 90%;
}
.dataflow-input {
  /* same as select2 */
  border: 1px solid #aaa;
  border-radius: 4px;
  line-height: 20px;
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}
.dataflow-input-node {
  text-align: center;
}

.dataflow-text {
  pointer-events: none;
}

.tip-mouse {
  position: absolute;
  z-index: 2000;
  background: #FFF;
}

.dialog-loaddata {
}

.dataflow-input-leadtext {
  padding-right: 1em;
}
