
h2, h3, li, p {
  font-family: Helvetica, sans-serif, arial, Lucida Grande, Lucida Sans;
}

h3 {
  font-size: 12px;
  margin: 0;
}

.panel {
  width: 120px;
}

.view-header {
  text-align: center;
}
