.visflow .node.range-filter.details {
  width: 190px;
}

.visflow .node.range-filter.details #range > span {
  display: inline-block;
}

/* Fix unknown vertical offset */
.visflow .node.range-filter.details #range .offset {
  position: relative;
  top: -7px;
}

.visflow .node.range-filter.details #min > div,
.visflow .node.range-filter.details #max > div {
  display: inline-block;
}

.visflow .node.range-filter.details #min > .input,
.visflow .node.range-filter.details #max > .input {
  width: calc((100% - 30px) / 2);
}

.visflow .node.range-filter.details #min input,
.visflow .node.range-filter.details #max input {
  text-align: center;
  font-size: 0.95em;
  padding: 6px 6px;
}

.visflow .node.range-filter.minimized > .icon {
  background-image: url(/visflow/imgs/range-icon.png);
}
