@import 'src/common/common';

.visflow .node.range-filter {
  &.minimized > .icon {
    background-image: url('./imgs/range-filter-icon.svg');
  }

  &.details {
    width: 190px;

    #range {
      > span {
        display: inline-block;
      }

      // Fix unknown vertical offset
      .offset {
        position: relative;
        top: -7px;
      }
    }

    #min,
    #max {
      div {
        display: inline-block;
      }

      .input {
        width: calc((100% - 24px) / 2);
      }

      input {
        font-size: .95em;
        padding: $padding-large;
        text-align: center;
      }
    }
  }
}
