.visflow .node.filter.details {
  height: 98px;
}

.visflow .node.filter.minimized,
.visflow .node.filter.minimized > .icon {
  width: 50px;
  height: 30px;
}

.visflow .node.filter.details #dim {
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.visflow .node.filter.details .content > div {
  margin-top: 3px;
  margin-bottom: 3px;
}
