@import '../common/style/index';

table.dataTable {
  border-width: 1px;
  border-collapse: collapse;

  tr.selected {
    background-color: #c0c0c0;
  }

  thead {
    th {
      border-bottom-width: 1px;
      border-bottom-color: #ccc;
    }
  }

  tbody {
    th, td {
      border-width: 1px;
      line-height: 2rem;
      padding: $padding-size $padding-size-lg;
    }
  }
}
