

.edge {
  pointer-events: auto;
  shape-rendering: geometricPrecision;

  line, path {
    stroke: #555;

    &.curve {
      fill: none;
    }

    &.arrow {
      fill: #555;
    }
  }

  &.hovered {
    stroke-width: 3px;
  }
}
