.visflow .node.contain-filter.minimized > .icon {
  background-image: url(/visflow/imgs/contain-icon.png);
}

.visflow .node.contain-filter.details {
  width: 150px;
}

.visflow .node.contain-filter.details #value input {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

#option-panel .contain-filter #value input {
  text-overflow: ellipsis;
  overflow: hidden;
}
