@import '../../common/style/index';

.option-panel {
  @extend %right-panel;
  bottom: $icon-size * 2;
  z-index: $zIndexOptionPanel;

  > .divider {
    @extend %divider;
  }

  > .header {
    margin-top: $margin-size;
    @extend %padding;

    button {
      width: 2rem;
      font-size: .75rem;
      margin: $margin-size-sm;

      &.active {
        background-color: $theme-green;
      }
    }

    .divider {
      @extend %secondary-divider;

      margin-top: $margin-size;
      margin-bottom: $margin-size;
    }
  }

  > .content {
    @extend %padding;

    .divider {
      @extend %secondary-divider;
    }
  }
}
