#node-panel {
  height: auto;
  top: 50px;
  bottom: 25px;
  position: fixed;
  z-index: 102;
  left: -22px;
}

#node-panel > .hover-area {
  width: 20px;
  height: 100%;
  position: absolute;
  right: -20px;
}

#node-panel > #btn-toggle {
  width: 20px;
  height: 120px;
  border-radius: 0px 4px 4px 0px;
  background-color: rgba(230, 230, 230, 0.75);
  border: 1px solid #ccc;
  border-left: none;
  cursor: default;
  position: absolute;
  right: -20px;
}

#node-panel > #btn-toggle > span {
  margin-left: -3px;
}

#node-panel .content {
  padding: 10px;
  top: 0px;
  border-radius: 0px 0px 4px 0px;
  border: 1px solid #ccc;
  background-color: rgba(230, 230, 230, 0.75);
}

#node-panel .square-icon {
  width: 50px;
  height: 50px;
}

#node-panel .flat-icon {
  width: 50px;
  height: 25px;
}

#node-panel .panel-button {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
}

#node-panel .panel-button:hover {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}