@import 'src/common/common';

#node-panel {
  bottom: $icon-size / 2;
  height: auto;
  position: fixed;
  top: $icon-size;
  z-index: 102;

  > .hover-area {
    height: 100%;
    position: absolute;
    right: -20px;
    width: 20px;
  }

  > #btn-toggle {
    @extend %ui-border;

    background-color: $trans-gray-230-75;
    border-left: 0;
    cursor: default;
    height: 120px;
    position: absolute;
    right: -20px;
    width: 20px;

    > span {
      margin-left: -3px;
    }
  }

  .content {
    @extend %ui-border;

    background-color: $ui-background;
    padding: $padding-large;
    top: 0;
  }

  .square-icon {
    height: $icon-size;
    width: $icon-size;
  }

  .flat-icon {
    height: $icon-size / 2;
    width: $icon-size;
  }

  .panel-button {
    border: 1px solid $trans-black-0;

    &:hover {
      @extend %ui-border;

      background-color: $white;
      border-radius: $border-radius;
      cursor: pointer;
    }
  }
}
