@import '../../common/style/index';

#dataflow-canvas {
  width: 100%;
  height: 100%;

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &.panning {
    cursor: move;
  }

  &.shifted {
    cursor: crosshair;
  }
}

#vis-mode-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #eee;
}

.select-box {
  position: fixed;
  border: 1px solid #333;
  background-color: $theme-green;
  opacity: .5;
  z-index: $zIndexCanvasSelectBox;
}
