<div>
  <div ref="node" class="node" :id="id"
    @mouseup="onMouseup"
    @mousedown="onMousedown"
    v-global-click="globalClick"
    @contextmenu.prevent.stop="openContextMenu"
    v-show="isVisible"
  >
    <transition name="fade">
      <node-cover v-if="isExpanded && coverText" :text="coverText"></node-cover>
    </transition>
    <node-label ref="nodeLabel" v-if="isLabelVisible && nodeLabelsVisible" :text="label" :maxWidth="width"></node-label>
    <transition name="fade">
      <div ref="content" v-show="isContentVisible" :class="['content', { disabled: !isContentVisible }]">
        <!-- node-content -->
      </div>
    </transition>
    <transition name="fade">
      <div ref="icon" v-if="isIconVisible" class="icon">
        <img :src="getIconPath">
      </div>
    </transition>
    <div ref="background" class="background" :class="{ active: isActive, selected: isSelected }"></div>
    <div class="input port-group" v-show="arePortsVisible">
      <div v-for="(port, index) in inputPorts" :key="port.id" :id="'port-container-' + port.id"
        class="input port-container"
        :style="portStyles(port, index, true)"
      ></div>
    </div>
    <div class="output port-group" v-show="arePortsVisible">
      <div v-for="(port, index) in outputPorts" :key="port.id" :id="'port-container-' + port.id"
        class="output port-container"
        :style="portStyles(port, index, false)"
      ></div>
    </div>
  </div><!--node-->

  <context-menu ref="contextMenu">
    <!-- context-menu -->
    <!-- common menu items -->
    <li @click="contextMenuRemove">
      <i class="fas fa-sm fa-times"></i><span>Remove Node{{ numSelectedNodes > 1 ? 's' : '' }}</span>
    </li>
    <li v-if="isFlowsenseEnabled" @click="openFlowsenseInput">
      <i class="fas fa-keyboard"></i><span>FlowSense</span>
    </li>
  </context-menu>

  <transition name="slide-fade-right">
    <option-panel ref="optionPanel" v-if="isActive"
        :nodeLabel="label"
        :isIconized="isIconized"
        :isInVisMode="isInVisMode"
        :isLabelVisible="isLabelVisible"
        :enlargeable="ENLARGEABLE"
        @input:iconized="onToggleIconized"
        @input:inVisMode="onToggleInVisMode"
        @input:labelVisible="onToggleLabelVisible"
        @input:nodeLabel="onInputLabel"
        @enlarge="enlarge"
    >
      <!-- option-panel -->
    </option-panel>
  </transition>
</div>
