.visflow .node.data-source.details {
  width: 120px;
  height: 40px;
}

.visflow .node.data-source.details #data-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.visflow .node.data-source.minimized > .icon {
  background-image: url(/visflow/imgs/datasource-icon.png);
}

.visflow .node.data-source {
  text-align: center;
}

#option-panel .data-source button {
  width: 100%;
}
