@import 'src/common/colors';

.visflow .node.data-source {
  text-align: center;

  #data-error {
    color: $red;
  }

  &.minimized > .icon {
    background-image: url('./imgs/datasource-icon.png');
  }

  &.details {
    height: 40px;
    width: 120px;

    #data-name {
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}

#option-panel .data-source {
  #add-data,
  #clear-data {
    width: calc(50% - 2px);
  }

  #data-list {
    cursor: all-scroll;

    .item {
      background-color: $white;
      border: 1px solid $gray-c;
      border-radius: 4px;
      margin-top: 3px;
      max-width: 300px;
      padding: 5px;

      > button {
        background-image: none;
        border: 0;
        box-shadow: none;
        float: right;
      }
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    .editable-list .item {
      cursor: all-scroll;

      &:hover {
        background: $gray-e;
      }
    }
  }
}

#modal .data-source {
  .online.disabled {
    color: $gray-c;
    pointer-events: none;
  }

  .server.disabled {
    color: $gray-c;
    pointer-events: none;

    select,
    .paginate_button > a {
      color: $gray-c;
      pointer-events: none;
    }

    tr.selected {
      background-color: $gray-c;
    }
  }

  .btn-right {
    float: right;
    margin-right: 10px;
    position: relative;
    top: -5px;
  }

  .hint {
    font-size: .85em;
  }
}
