.visflow .node.data-source.details {
  width: 120px;
  height: 40px;
}

.visflow .node.data-source.details #data-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.visflow .node.data-source.minimized > .icon {
  background-image: url(/visflow/imgs/datasource-icon.png);
}

.visflow .node.data-source {
  text-align: center;
}

#option-panel .data-source button {
  width: 100%;
}

#modal .data-source .server.disabled,
#modal .data-source .online.disabled,
#modal .data-source .server.disabled select,
#modal .data-source .server.disabled .paginate_button > a {
  color: #ccc;
  pointer-events: none;
}

#modal .data-source .server.disabled tr.selected {
  background-color: #ccc;
}

#modal .data-source .btn-right {
  float: right;
}

#modal .data-source .hint {
  font-size: 0.85em;
}
