.visflow .node.data-source.details {
  width: 120px;
  height: 40px;
}

.visflow .node.data-source.details #data-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.visflow .node.data-source.minimized > .icon {
  background-image: url(/visflow/imgs/datasource-icon.png);
}

.visflow .node.data-source {
  text-align: center;
}

.visflow .node.data-source #data-error {
  color: red;
}

#option-panel .data-source #load-data,
#option-panel .data-source #clear-data {
  width: calc(50% - 2px);
}

#option-panel .data-source #data-list .item {
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}

#option-panel .data-source #data-list .item > button {
  border: none;
  float: right;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#option-panel .data-source #data-list ul {
  list-style: none;
  padding-left: 0px;
}

#option-panel .data-source #data-list .editable-list .item {
  cursor: all-scroll;
}

#option-panel .data-source #data-list .editable-list .item:hover {
  background: #eee;
}


#modal .data-source .server.disabled,
#modal .data-source .online.disabled,
#modal .data-source .server.disabled select,
#modal .data-source .server.disabled .paginate_button > a {
  color: #ccc;
  pointer-events: none;
}

#modal .data-source .server.disabled tr.selected {
  background-color: #ccc;
}

#modal .data-source .btn-right {
  float: right;
  margin-right: 10px;
  position: relative;
  top: -5px;
}

#modal .data-source .hint {
  font-size: 0.85em;
}
