.visflow #edges {
  position: absolute;
}

.visflow #edge-drawing
{
  position: absolute;
  z-index: 1000; /* over other elements */
}

.visflow .edge {
  z-index: -1;
}

.visflow .edge-segment {
  position: absolute;
  width: 100px;
  background-color: #777;
  height: 3px;
  transform-origin: 1.5px 50%;  /* half height to make rotated lines appear connected*/
}

.visflow .edge-segment-hover {
  box-shadow: 0px 0px 0px 5px #e0cfc2;
  background-color: #e0cfc2;
  z-index: -1;
}

.visflow .edge-arrow {
  position: absolute;
  width: 18px;
  height: 9px;
  background: url(/visflow/imgs/edge-arrow.png) no-repeat center;
  transform-origin: 0px 50%;
}

.visflow .edge-clone {
  z-index: 1000;
  pointer-events: none;
}
