@import 'src/common/colors';

.visflow {
  .edge {
    z-index: -1;
  }

  .edge-clone {
    pointer-events: none;
    z-index: 1000;
  }

  #edges,
  #edge-drawing {
    height: 100%;
    position: absolute;
    width: 100%;

    path {
      pointer-events: auto;
      shape-rendering: geometricPrecision;
      stroke: $gray-5;

      &.segment {
        fill: none;
      }

      &.arrow {
        fill: $gray-5;
      }
    }

    g > path.hover {
      stroke-width: 2px;
    }
  }
}
