$navbar-height: 41px;

$icon-size: 35px;

$padding-size: .25rem;
$padding-tb-size: .25rem;
$padding-lr-size: 1.5rem;

%padding {
  padding: .25rem 1.5rem;
}
%padding-lr {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
%padding-tb {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

$margin-size: .1rem;
$margin-size-lg: $margin-size * 5;

%margin {
  margin: $margin-size;
}
%margin-lr {
  margin-left: $margin-size;
  margin-right: $margin-size;
}
%margin-tb {
  margin-top: $margin-size;
  margin-bottom: $margin-size;
}

%left-panel {
  position: fixed;
  top: $navbar-height + $icon-size / 2;
  padding: $padding-size;
  @extend %box, %border-touch-left;
}

%right-panel {
  position: fixed;
  top: $navbar-height + $icon-size / 2;
  background-color: white;
  right: 0;
  min-width: 100px;
  width: auto;
  @extend %box, %border-touch-right;
}
