$zIndexModalDialog: 40000;
$zIndexSystemMessage: 30000;
$zIndexAppHeader: 30000;
$zIndexSystemMessage: 30000;
$zIndexCanvasCover: 20000;
$zIndexContextMenu: 10000;
$zIndexPortPanel: 5003;
$zIndexOptionPanel: 5002;
$zIndexNodePanel: 5001;

$zIndexNodeCover: 1;
$zIndexPort: -1;
