<!-- node-content -->
<svg ref="svg"
  @mousedown="onBrushStart"
  @mousemove="onBrushMove"
  @mouseup="onBrushStop"
  @mouseleave="onBrushLeave"
>
  <g ref="points"></g>
  <g ref="xAxis"></g>
  <g ref="yAxis"></g>
  <g ref="brush"></g>
</svg>
<!-- option-panel -->
<div>
  <div>X Column</div>
  <column-select v-model="xColumn"
    :columns="columnSelectOptions"
    @change="onSelectXColumn"
  ></column-select>
</div>
<div>
  <div>Y Column</div>
  <column-select v-model="yColumn"
    :columns="columnSelectOptions"
    @change="onSelectYColumn"
  ></column-select>
</div>
<div>
  <b-form-checkbox v-model="isTransitionDisabled" @input="onToggleTransitionDisabled">Disable Transition</b-form-checkbox>
</div>
<div>
  <b-form-checkbox v-model="useDatasetRange" @input="onToggleUseDatasetRange">Use Dataset Range</b-form-checkbox>
</div>
<div>
  <b-form-checkbox v-model="axisMargin" @input="onToggleAxisMargin">Axis Margin</b-form-checkbox>
</div>

<!-- settings-modal -->
<div class="section">
  <b-form-checkbox v-model="transparentBackground" @input="onToggleTransparentBackground">Transparent Content</b-form-checkbox>
</div>
