.visflow .node.set.details {
  width: 80px;
  height: 48px;
}

.visflow .node.set.details > .icon {
  width: 80px;
  height: 48px;
  background-size: 80px;
}

.visflow .node.set.minimized {
  width: 50px;
  height: 30px;
}

.visflow .node.set.minimized > .icon {
  width: 50px;
  height: 30px;
}
