#modal .file-section {
  margin-top: 15px;
  position: relative;
  height: 30px;
}

#modal .file-section #btn-file {
  border-radius: 4px 0px 0px 4px;
  float: left;
}

#modal .file-section #file {
  display: none;
  top: 0px;
  position: absolute;
}

#modal .file-section #file-display {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  background: none;
  left: 101px;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 101px);
  white-space: nowrap;
}
