#modal {
  .file-section {
    height: 30px;
    margin-bottom: 15px;
    margin-top: 7.5px;
    position: relative;

    #btn-file {
      float: left;
    }

    #file {
      display: none;
      position: absolute;
      top: 0;
    }

    #file-display {
      background: none;
      border-left: 0;
      left: 101px;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 101px);
    }
  }

  .alert {
    padding: 5px 15px;
  }

  .section {
    margin-bottom: 5px;
    margin-top: 5px;

    &.separated {
      margin-top: 20px;
    }
  }

  .hint {
    font-size: 11px;
    margin-left: 5px;
  }

  .nav {
    a {
      color: $black;

      > .glyphicon {
        margin-right: 5px;
      }
    }
  }
}
