@import '../../common/style/index';

.edge {
  pointer-events: auto;
  shape-rendering: geometricPrecision;

  line, path {
    stroke: #555;

    &.curve {
      fill: none;
    }

    &.arrow {
      fill: #555;
    }
  }

  .hover-path {
    opacity: 0;
    stroke-width: 10px;
    transition: $default-transition-time;

    &.droppable {
      opacity: .1;
      stroke-width: 20px;
    }
  }

  &.hovered {
    stroke-width: 3px;
  }
}
