@import 'src/common/common';

#option-panel {
  bottom: 50px;
  height: auto;
  position: fixed;
  right: -210px;
  top: 50px;
  z-index: 102;

  // Direct children button are side buttons.
  > button {
    height: 100px;
    left: -($side-button-width - $border-width);
    position: absolute;
    width: $side-button-width;
    z-index: 1;

    > .glyphicon {
      margin-left: -$font-size-small / 4;
    }
  }

  > #btn-toggle {
    :disabled {
      opacity: 1;

      > span {
        color: $gray-c;
      }
    }
  }

  > #btn-pin {
    height: 30px;
    top: 99px;
  }

  .section {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .input-with-update {
    width: calc(100% - 40px);
  }

  .sub-buttons {
    float: right;
  }

  .btn-update {
    float: right;
    left: -1px;
    top: -.5px;
  }

  .switches {
    > table {
      width: 100%;
    }

    td {
      padding: 2px;
    }
  }

  .content {
    background-color: $ui-background;
    border: solid 1px $gray-c;
    height: 100%;
    min-width: 210px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
  }

  .panel-header {
    .btn {
      color: $gray-8;

      &.active {
        color: $black;
      }
    }

    #node-label {
      font-weight: bold;
      margin-bottom: -10px;
    }

    &.node-panel {
      margin-bottom: $margin-large;

      > span > button {
        margin-right: 3px;
        width: 40px;

        &.active {
          border: 1px solid $gray-a;
        }
      }
    }
  }
}
