@import 'src/common/colors';

.visflow .node.network {
  &.minimized > .icon {
    background-image: url('/visflow/imgs/network-icon.png');
  }

  &.details {
    .edges path {
      fill: none;
    }

    .labels text {
      font-size: .9em;
    }
  }

  .network-edge {
    stroke: $black;
    stroke-width: 1px;
  }

  .network-label {
    pointer-events: none;
    text-anchor: middle;
  }
}
