.visflow .node.heatmap {
  &.minimized > .icon {
    background-image: url('./imgs/heatmap-icon.png');
  }

  path {
    fill: none;
    shape-rendering: optimizeSpeed;
  }

  &.details {
    height: 500px;
    width: 600px;
  }

  .row-label {
    dominant-baseline: middle;
    font-family: Helvetica, sans-serif, courier;
    font-size: 11px;
    font-weight: bold;
    stroke-width: .5px;
    text-anchor: end;
  }

  .col-labels.vertical .vis-label {
    text-anchor: start;
  }
}
