.visflow .heatmap path {
  fill: none;
  shape-rendering: optimizeSpeed;
}

.visflow .node.details.heatmap {
  width: 300px;
  height: 400px;
}

.visflow .heatmap .row-label {
  stroke-width: 1px;
  font-size: 11px;
  dominant-baseline: middle;
  text-anchor: end;
  font-family: Helvetica, sans-serif, courier;
}

.visflow .node.heatmap.minimized > .icon {
  background-image: url(/visflow/imgs/heatmap-icon.png);
}
