@import 'src/common/common';

#nlp {
  > div.nlp-input {
    background: $ui-background;
    border: 1px solid $gray-c;
    box-shadow: 1px 1px 1px 1px $gray-c;
    padding: $padding-large;
    position: absolute;
    width: 300px;
    z-index: 1041;
  }

  .header {
    line-height: 2;
    padding: $padding;
  }

  .examples {
    float: right;
  }

  label {
    font-size: 13px;
  }

  textarea {
    font-size: 20px;
    height: calc(100% - #{$font-size} - #{$padding} * 2 - #{$border-width});
    min-height: 185px;
    resize: none;
    width: 100%;
  }
}
