.visflow .port {
  width: 15px;
  height: 15px;
  position: absolute;
}

.visflow .port.right {
  left: 100%;
}

.visflow .port.right > .background {
  border-radius: 0px 4px 4px 0px;
}

.visflow .port.left {
  left: -15px;
}

.visflow .port.left > .background {
  border-radius: 4px 0px 0px 4px;
}

.visflow .port-icon {
  width: 15px;
  height: 15px;
  position: absolute;
}

.visflow .port > .background {
  border: 1px solid #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.visflow .port.hover > .background,
.visflow .port:hover > .background {
  border: 2px solid #aaa;
}

.visflow .port.constants > .background {
  background: #e2e2e2;
}

.visflow .port-icon {
  /* allow port to show text */
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.visflow .port-icon.single {
  background: url(/visflow/imgs/port-single.png);
  background-size: 15px;
}

.visflow .port-icon.multiple {
  background: url(/visflow/imgs/port-multiple.png);
  background-size: 15px;
}

.visflow .port-icon.multiple.selection {
  background: url(/visflow/imgs/port-selection.png);
  background-size: 15px;
}
