@import 'src/common/common';

.visflow {
  .port {
    height: 15px;
    position: absolute;
    width: 15px;

    > .background {
      background-color: $white;
      border: 1px solid $gray-c;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &.right {
      left: 100%;

      > .background {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    &.left {
      left: -15px;

      > .background {
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    &.hover,
    &:hover {
      > .background {
        border: 2px solid $gray-a;
      }
    }
  }

  .port-icon {
    background-image: url('./imgs/port-single.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;

    height: 15px;
    position: absolute;
    width: 15px;
  }
}
