@import '../../common/style/index';

.message {
  position: fixed;
  z-index: $zIndexSystemMessage;

  text-align: center;
  width: 40%;
  left: 30%;
  background: none;

  top: $navbar-height + 5px;
  @extend %box, %padding;

  .close {
    font-size: 1.25rem;
    border: none;
    padding: 1rem;
    margin: -1rem -1.5rem -1rem auto;
  }

  &.success {
    @extend %success-message;
  }

  &.warn {
    @extend %warn-message;
  }

  &.error {
    @extend %error-message;
  }
}
