.visflow .visflow-tooltip {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  background: white;
  z-index: 105;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
