@import 'src/common/colors';

.visflow .visflow-tooltip {
  background: $white;
  border: 1px solid $gray-c;
  border-radius: 4px;
  box-shadow: 0 6px 12px $trans-white-175;
  padding: 10px;
  position: absolute;
  z-index: 105;
}
