
#option-panel {
  height: auto;
  top: 35px;
  bottom: 30px;
  position: fixed;
  right: -32px;
  z-index: 1;
}

#option-panel .section {
  margin-top: 20px;
  width: 100%;
}

#option-panel .input-with-update {
  border-radius: 4px 0px 0px 4px;
  width: calc(100% - 40px);
}

#option-panel .sub-buttons {
  float: right;
}

#side-panel .btn-update {
  border-radius: 0px 4px 4px 0px;
  float: right;
  top: -0.5px;
  left: -1px;
}

#option-panel .switches > table {
  width: 100%;
}

#option-panel .switches td {
  padding: 2px;
}

#option-panel > #btn-toggle {
  border-radius: 4px 0px 0px 4px;
  position: absolute;
  left: -25px;
  width: 26px;
  height: 120px;
  z-index: 1;
}

#option-panel > #btn-toggle > span {
  margin-left: -5px;
}

#option-panel .content {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 0px 0px 0px 4px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
}

#option-panel .section {
  margin-top: 10px;
  margin-bottom: 10px;
}