.visflow .node .multiple-select {
  .select2-selection {
    max-height: 34px;
    overflow-y: auto;
    width: 100%;
  }

  .select2-selection__choice__remove {
    font-size: 16px;
    line-height: 15px;
    position: relative;
    top: 2px;
  }

  .select2-search {
    display: none;
  }
}

#option-panel .multiple-select {
  .select2-search {
    display: none;
  }

  .select2-selection {
    max-width: 200px;
  }

  .select2-selection__choice {
    padding: 5px;
    width: 100%;
  }

  li.select2-selection__choice > .select2-selection__choice__remove,
  .select2-selection__clear {
    font-size: 20px;
    line-height: 10px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  .ellipsis {
    display: none;
  }
}
