.visflow .node .multiple-select .select2-selection {
  width: 100%;
  max-height: 34px;
  overflow-y: auto;
}

.visflow .node .multiple-select .select2-selection__choice__remove {
  font-size: 16px;
  line-height: 15px;
  position: relative;
  top: 2px;
}

.visflow .node .multiple-select .select2-search,
#option-panel .multiple-select .select2-search {
  display: none;
}

#option-panel .multiple-select .select2-selection {
  max-width: 200px;
}

#option-panel .multiple-select .select2-selection__choice {
  width: 100%;
  padding: 5px;
}

#option-panel .multiple-select li.select2-selection__choice > .select2-selection__choice__remove,
#option-panel .multiple-select .select2-selection__clear {
  font-size: 20px;
  margin-right: 5px;
  line-height: 10px;
  top: 2px;
  position: relative;
}

#option-panel .multiple-select .ellipsis {
  display: none;
}
