$font-size: 12px;
$font-size-small: 10px;
$font-size-large: 16px;

%list-item {
  &:focus, &:hover {
    background-color: $hover-green;
  }

  &:active {
    background-color: $theme-green;
  }

  .fas, .far {
    margin-right: .75em;

    &.placeholder {
      opacity: 0;
    }
  }

  &.disabled {
    color: #999;
    text-decoration: none;
    cursor: not-allowed;
    background: none;
  }
}

%box-shadow {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .03);
}

%border {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .15);
}

%box {
  @extend %box-shadow, %border;
}

%ui-font {
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
  font-size: .9em;
}

%padding {
  padding: .25rem 1.5rem;
}
%padding-lr {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
%padding-tb {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
