@import 'src/common/common';

.editable-list {
  #add {
    margin-top: 5px;
    width: 100%;
  }

  .item {
    background-color: $white;
    border: 1px solid $gray-c;
    border-radius: $border-radius;
    cursor: all-scroll;
    margin-top: 3px;
    padding: 5px;

    > button {
      background-image: none;
      border: 0;
      box-shadow: none;
      float: right;
    }

    &:hover {
      background: $gray-e;
    }
  }

  ul {
    list-style: none;
    max-height: 350px;
    overflow-y: auto;
    padding-left: 0;
  }

  #auxiliary {
    margin-top: 5px;

    button {
      width: calc(100% / 3 - 3px);
    }
  }

  .select2-container {
    width: 100%;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    padding-right: 15px;
  }
}
