@import '../../common/style/index';

.user-bar {
  margin-left: $margin-size-lg;
}

.username > * {
  @extend %padding-tb;
  @extend %transition;
  cursor: pointer;

  &:hover {
    color: $theme-green;
  }
}

.logout {
  margin-left: $margin-size-lg;
  border: none;
  color: #555;
}

div.row {
  @extend %margin-tb;
}
