/* Common colors across the system */

$theme-purple: #572e87;
$theme-green: #98ca3c;

$theme-purple-light: lighten($theme-purple, 30%);
$theme-green-light: lighten($theme-green, 30%);

$hover-green: rgba(152, 202, 60, .25);

$highlight-color: #ff5757;

$ui-background: rgba(245, 245, 245, .9);
$ui-background-dark: darken($ui-background, 3%);

$selectbox-background: rgba(102, 153, 238, .25);

$selected-color: $theme-green;
