%success-message {
  color: #183d20;
  background-color: #ccffcc;
}

%warn-message {
  color: #744500;
  background-color: #fffccc;
}

%error-message {
  color: #d43131;
  background-color: #ffdddd;
}

%info-message {
  color: #193141;
  background-color: #bfe0f7;
}
