@import 'src/common/common';

#progress {
  border-radius: $border-radius-large;
  margin-bottom: $font-size * 1.5;
  position: absolute;
  width: 25%;

  > .message {
    line-height: 1;
    pointer-events: none;
  }

  &.bottom {
    bottom: 0;
    height: $font-size * 1.5;
    right: $margin-large;
  }
}
