@import 'src/common/common';

#tool-panel {
  @extend %ui-border;

  padding: 2px $font-size;
  position: absolute;
  right: 15%;
  z-index: 1001;

  button {
    background: none;
    margin: 0 1px;
  }

  .glyphicon.invisible {
    opacity: 0;
  }

  .microphone {
    width: $font-size;
    height: $font-size;
    background: transparent url('./imgs/microphone.png') center no-repeat;
    background-size: $font-size;
    margin-top: 1.5px;
    position: absolute;
  }
}
