<!-- node-content -->
<div class="display" v-if="dataset">
  <div v-if="filterType === 'pattern'">
    <span class="bold">{{ columnName }}</span>
    <span class="display-text">{{ patternFilterDisplayText }}</span>
  </div>
  <div v-if="filterType === 'range'">
    <span class="bold">{{ columnName }}</span>
    <span class="display-text">{{ rangeFilterDisplayText }}</span>
  </div>
  <div v-if="filterType === 'sampling'">
    <span class="display-text">{{ samplingFilterDisplayText }}</span>
    <span class="bold">{{ columnName }}</span>
    <span class="display-text" v-if="samplingParams.groupByColumn">
      per
      <span class="bold">{{ samplingGroupByColumnName }}</span>
    </span>
  </div>
</div>

<!-- context-menu -->
<li>filter option</li>

<!-- option-panel -->
<div>
  <div>Filter Type</div>
  <form-select
    :options="filterTypeOptions"
    v-model="filterType"
    @input="updateAndPropagate"
    :clearable="false"
  ></form-select>
</div>
<div>
  <div>Column</div>
  <column-select
    :columns="columnSelectOptions"
    v-model="column"
    @input="updateAndPropagate"
  ></column-select>
</div>
<hr class="divider"/>

<!-- pattern filter -->
<div v-if="filterType === 'pattern'">
  <div class="subsection">
    Patterns
    <constants-list v-if="!inputDisabled"
      v-model="patternParams.patterns"
      @input="updateAndPropagate"
    ></constants-list>
    <constants-list v-else :value="constants" :disabled="true"></constants-list>
  </div>
  <div class="subsection">
    Mode
    <form-select id="pattern-match-mode"
      :options="patternMatchModeOptions"
      v-model="patternParams.mode"
      :clearable="false"
      @input="updateAndPropagate"
    ></form-select>
  </div>
  <div class="subsection" v-if="patternParams.mode !== 'regex'">
    <b-form-checkbox v-model="patternParams.isCaseSensitive">Case Sensitive</b-form-checkbox>
  </div>
</div>

<!-- range filter -->
<div v-if="filterType === 'range'">
  <div class="subsection">
    Min
    <form-input v-if="!inputDisabled" v-model="rangeParams.min" @input="updateAndPropagate"></form-input>
    <form-input v-else :value="firstConstant" disabled></form-input>
  </div>
  <div class="subsection">
    Max
    <form-input v-if="!inputDisabled" v-model="rangeParams.max" @input="updateAndPropagate"></form-input>
    <form-input v-else :value="secondConstant" disabled></form-input>
  </div>
</div>

<!-- sampling filter -->
<div v-if="filterType === 'sampling'">
  <div class="subsection">
    Criterion
    <form-select
      v-model="samplingParams.criterion"
      :clearable="false"
      :options="samplingCriterionOptions"
      @input="updateAndPropagate"
    >
    </form-select>
  </div>
  <div class="subsection">
    Amount Type
    <form-select
      v-model="samplingParams.amountType"
      :clearable="false"
      :options="samplingAmountTypeOptions"
      @input="updateAndPropagate"
    >
    </form-select>
  </div>
  <div class="subsection">
    Amount
    <form-input v-if="!inputDisabled" v-model.number="samplingParams.amount" @input="updateAndPropagate"></form-input>
    <form-input v-else :value="firstConstant" disabled></form-input>
  </div>
  <div class="subsection">
    Group By Column
    <column-select
      v-model="samplingParams.groupByColumn"
      :clearable="true"
      :columns="columnSelectOptions"
      @input="updateAndPropagate"
    ></column-select>
  </div>
  <div id="sampling-on-distinct-values" class="subsection">
    <b-form-checkbox
      v-model="samplingParams.isOnDistinctValues"
      @input="updateAndPropagate"
    >
      Sample On Distinct Values
      <i id="sampling-on-distinct-values-hint" class="fas fa-question-circle hint"></i>
    </b-form-checkbox>
    <b-tooltip target="sampling-on-distinct-values-hint">Sample on distinct attribute values instead of individual data items</b-tooltip>
  </div>
</div>
