<!-- node-content -->
<div class="display" v-if="dataset">
  <div v-if="filterType === 'pattern'">
    <span class="bold">{{ columnName }}</span>
    <span class="display-text">{{ getPatternFilterDisplayText }}</span>
  </div>
  <div v-if="filterType === 'range'">
    <span class="bold">{{ columnName }}</span>
    <span class="display-text">{{ getRangeFilterDisplayText }}</span>

  </div>
  <div v-if="filterType === 'sampling'">
    <span class="display-text">{{ getSamplingFilterDisplayText }}</span>
    <span class="bold">{{ columnName }}</span>
  </div>
</div>

<!-- context-menu -->
<li>filter option</li>

<!-- option-panel -->
<div>
  <div>Filter Type</div>
  <vue-select
    :options="filterTypeOptions"
    v-model="filterType"
    @input="filterAndPropagate"
    :clearable="false"
  ></vue-select>
</div>
<div>
  <div>Column</div>
  <column-select
    :columns="columnSelectOptions"
    v-model="column"
    @input="filterAndPropagate"
  ></column-select>
</div>
<hr class="divider"/>

<!-- pattern filter -->
<div v-if="filterType === 'pattern'">
  <div class="subsection">
    Patterns
    <constants-list
      v-model="patternParams.patterns"
      @input="filterAndPropagate"
    ></constants-list>
  </div>
  <div class="subsection">
    Mode
    <vue-select id="pattern-match-mode"
      :options="patternMatchModeOptions"
      v-model="patternParams.mode"
      :clearable="false"
      @input="filterAndPropagate"
    ></vue-select>
  </div>
  <div class="subsection" v-if="patternParams.mode !== 'regex'">
    <b-form-checkbox v-model="patternParams.isCaseSensitive">Case Sensitive</b-form-checkbox>
  </div>
</div>

<!-- range filter -->
<div v-if="filterType === 'range'">
  <div class="subsection">
    Min
    <input v-model="rangeParams.min" class="form-control" @input="filterAndPropagate"></input>
  </div>
  <div class="subsection">
    Max
    <input v-model="rangeParams.max" class="form-control" @input="filterAndPropagate"></input>
  </div>
</div>

<!-- sampling filter -->
<div v-if="filterType === 'sampling'">
  <div class="subsection">
    Criterion
    <vue-select
      v-model="samplingParams.criterion"
      :clearable="false"
      :options="samplingCriterionOptions"
    >
    </vue-select>
  </div>
  <div class="subsection">
    Amount Type
    <vue-select
      v-model="samplingParams.amountType"
      :clearable="false"
      :options="samplingAmountTypeOptions"
    >
    </vue-select>
  </div>
  <div class="subsection">
    Amount
    <input v-model="samplingParams.amount" class="form-control" @input="filterAndPropagate"></input>
  </div>
  <div class="subsection">
    Group By Column
    <column-select
      v-model="samplingParams.groupByColumn"
      :clearable="true"
      :columns="columnSelectOptions"
      @input="filterAndPropagate"
    ></column-select>
  </div>
  <div class="subsection">
    <b-form-checkbox
      v-model="samplingParams.isOnDistinctValues"
      @input="filterAndPropagate"
    >Sample By Distinct Values</b-form-checkbox>
  </div>
</div>
