@import '../../common/style/index';

.display {
  @extend %ellipsis-text;
  @extend %vertical-center;
  padding: $padding-size;
  white-space: normal;
  overflow: auto;
}

#sampling-on-distinct-values /deep/ .custom-control-label {
  display: flex;
}
