@import 'src/common/common';

.visflow .node.visualization {
  &.details {
    height: 300px;
    width: 300px;
  }

  .axis {
    text {
      fill: $gray-3;
      font-size: 11px;
    }

    line,
    path {
      fill: none;
      shape-rendering: crispEdges;
      stroke: $black;
    }
  }

  svg {
    //background: $white;
    //pointer-events: all;
  }

  .selectbox {
    fill: $dark-blue;
    fill-opacity: .5;
    pointer-events: none;
    shape-rendering: crispEdges;
    stroke: $gray-3;
    stroke-width: 1px;
  }

  .lasso {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $dark-blue;
    stroke-linecap: round;
    stroke-width: 2px;
  }

  .vis-label {
    font-size: 11px;
    font-weight: bold;
    text-anchor: middle;
  }
}
