.visflow .node.details.shape-vis {
  width: 300px;
  height: 300px;
}

.visflow .visualization .axis text {
  font-size: 11px;
}

.visflow .visualization .axis line,
.visflow .visualization .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.visflow .visualization svg {
  background: #FFF;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.visflow .visualization-message {
  position: absolute;
  width: calc(100% - 10px);
  text-align: center;
  pointer-events: none;
}


.visflow .visualization .selectbox {
  fill: #6699ee;
  stroke: #333;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  fill-opacity: 0.5;
  pointer-events: none;
}

.visflow .visualization .lasso {
  fill: none;
  stroke: #6699ee;
  stroke-width: 2px;
  stroke-linecap: round;
  shape-rendering: crispEdges;
}

.visflow .visualization .vis-label {
  font-size: 11px !important;
  font-weight: bold;
  text-anchor: middle;
}

.visflow .visualization .network-edge {
  stroke-width: 1px;
  stroke: black;
}

.visflow .visualization .network-label {
  text-anchor: middle;
  pointer-events: none;
}
