
.visflow .visualization .axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.visflow .visualization .axis line,
.visflow .visualization .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.visflow .visualization svg {
  background: #FFF;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.visflow .visualization {
  width: 100%;
  height: 100%;
}

.visflow .visualization-message {
  position: absolute;
  width: calc(100% - 10px);
  text-align: center;
  pointer-events: none;
}


.visflow .vis-selectbox {
  fill: #e0cfc2;
  stroke: #555;
  stroke-width: 1px;
  fill-opacity: 0.5;
  pointer-events: none;
}

.visflow .parallelcoordinates-brush {
  fill: none;
  stroke: #199FBD;
  stroke-width: 2px;
  stroke-linecap: round;
  shape-rendering: crispEdges;
}

.visflow .vis-label {
  font-size: 11px !important;
  font-weight: bold;
  text-anchor: middle;
}

.visflow .row-label {
  font-size: 11px;
  dominant-baseline: middle;
  text-anchor: end;
  font-family: Helvetica, sans-serif, courier;
}

.visflow .network-edge {
  stroke-width: 1px;
  stroke: black;
}

.visflow .network-label {
  text-anchor: middle;
  pointer-events: none;
}
