.text-box {
  border-radius: 10px;
  background-color: $theme-gray;
}

.sidebar {
  width: 15rem !important;
}

.page {
  padding-left: 15rem !important;
}

p.action > a {
  background-color: $theme-purple-light !important;
}

.ui {
  padding: .1rem .25rem;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .05);
}
