.text-box
  border-radius: 10px
  background-color: $theme-gray

.ui
  font-size: .9rem
  padding: .1rem .25rem
  border-radius: 2px
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .05)

.table-spacer
  min-width: 300px
  &.sm
    min-width: 150px

.sidebar .sidebar-heading
  color: $textColor

.page .custom-block.tip
  border-color: $theme-green

.navbar .home-link > .logo
  margin-right: .1rem
