$theme-green = #98ca3c
$theme-purple = #582d88
$theme-purple-light = #795c9a
$theme-gray = #f3f4f4

$accentColor = #795c9a

.sidebar-heading
  color: $textColor

.sidebar
  width: 15rem

.page
  padding-left: 15rem

.custom-block.tip
  border-color: $theme-green
