.visflow .node.value-filter {
  &.minimized > .icon {
    background-image: url('./imgs/value-filter-icon.svg');
  }

  &.details {
    width: 150px;

    #value input {
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
  }

  #value input {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
