@import '../../common/style/index';

.node {
  position: absolute;
  font-size: $font-size-sm;
  background-color: white;
  overflow: visible;

  @extend %box;

  .port-container {
    position: absolute;
    z-index: $zIndexPort;
  }

  // port class assigned by Port component
  .input .port {
    @extend %border-touch-right;
  }
  .output .port {
    @extend %border-touch-left;
  }

  /*
  > .icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    height: 50px;
    position: absolute;
    width: 50px;
  }

  &.hover {
    > .background {
      border-color: $gray-b;
      border-width: 2px;
      box-shadow: 2px 2px 4px $gray-a;
    }
  }

  &.selected {
    > .background {
      border-color: $gray-7;
      border-width: 2px;
    }
  }
  */
}

.slide-fade-enter-active {
  transition: all .2s;
}
.slide-fade-leave-active {
  transition: all .2s;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(200px);
  opacity: 0;
}
.slide-fade-leave, .slide-fade-enter-to {
  transform: translateX(0);
  opacity: 1;
}
