@import '../../common/style/index';

.node {
  position: absolute;
  font-size: $font-size-sm;
  background-color: white;
  overflow: visible;

  > .content {
    width: 100%;
    height: 100%;
    background: white;
    padding: $padding-size;
  }

  > .background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    @extend %box;
  }

  &:hover {
    > .background {
      @extend %bold-border;
    }
  }

  .port-container {
    position: absolute;
    z-index: $zIndexPort;
  }

  // port class assigned by Port component
  .input .port {
    @extend %border-touch-right;
  }
  .output .port {
    @extend %border-touch-left;
  }

  /*
  > .icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    height: 50px;
    position: absolute;
    width: 50px;
  }

  &.selected {
    > .background {
      border-color: $gray-7;
      border-width: 2px;
    }
  }
  */
}

.active {
  .node > .background {
    @extend %extra-bold-border;
  }
}
