<div>
  <div ref="node"
    v-global-click="globalClick"
    @mousedown="activate"
    @contextmenu.prevent.stop="$refs.contextMenu.open"
  >
    <node-cover :text="coverText"></node-cover>
    <node-label v-if="isLabelVisible" :text="label"></node-label>
    <div ref="content" class="content">
      <!-- node-content -->
    </div>
    <div class="input">
      <div v-for="(port, index) in inputPorts" :key="port.id" :id="'port-container-' + port.id"
        class="input port-container"
        :style="portStyles(port, index, true)"
      ></div>
    </div>
    <div class="output">
      <div v-for="(port, index) in outputPorts" :key="port.id" :id="'port-container-' + port.id"
        class="output port-container"
        :style="portStyles(port, index, false)"
      ></div>
    </div>
    <div class="background"></div>
  </div><!--node-->
  <context-menu ref="contextMenu">
    <!-- context-menu -->
  </context-menu>
  <transition name="slide-fade-right">
    <option-panel
        v-if="isActive"
        :initState="optionPanelInitState"
        @toggle:iconized="onToggleIconized"
        @toggle:inVisMode="onToggleInVisMode"
        @toggle:labelVisible="onToggleLabelVisible"
    >
      <!-- option-panel -->
    </option-panel>
  </transition>
</div>
