@import '../../common/style/index';

.node {
  position: absolute;
  font-size: $font-size-sm;
  background-color: white;

  @extend %box;
  /*
  > .content {
    height: 100%;
    padding: $padding;
    width: 100%;
  }

  > .icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45px;
    height: 50px;
    position: absolute;
    width: 50px;
  }

  #label {
    background: $white;
    border: 1px solid $gray-c;
    border-radius: $border-radius $border-radius 0 0;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: $font-size-small;
    overflow: hidden;
    padding: $padding $padding-large;
    position: absolute;
    top: -($padding * 2 + $font-size-small + $border-width);
    white-space: nowrap;
  }

  &.hover {
    > .background {
      border-color: $gray-b;
      border-width: 2px;
      box-shadow: 2px 2px 4px $gray-a;
    }
  }

  &.selected {
    > .background {
      border-color: $gray-7;
      border-width: 2px;
    }
  }
  */
}
