#context-menu {
  position: absolute;
  z-index: 1000;
}

#context-menu .dropdown-menu > li > a {
  cursor: pointer;
}

#context-menu .dropdown-menu > li > a > i {
  margin-right: 10px;
  width: 14px;
}

#context-menu .hotkey {
  font-size: 0.7em;
  margin-left: 10px;
  top: 4px;
}
