#context-menu {
  position: absolute;
  z-index: 1000;

  .dropdown-menu > li > a {
    cursor: pointer;

    > i {
      margin-right: 10px;
      width: 14px;
    }
  }

  .hotkey {
    font-size: .7em;
    margin-left: 10px;
    top: 4px;
  }
}
