<!-- node-content -->
<div class="display">
  <div id="current-time">{{ currentTime }}</div>
  <b-button variant="outline-secondary" @click="play" v-if="!isPlaying && currentTimeIndex < timeValues.length - 1"><i class="fas fa-play"></i></b-button>
  <b-button variant="outline-secondary" @click="pause" v-if="isPlaying"><i class="fas fa-pause"></i></b-button>
  <b-button variant="outline-secondary" @click="stop" v-if="!isPlaying && currentTimeIndex === timeValues.length - 1"><i class="fas fa-stop"></i></b-button>
</div>

<!-- option-panel -->
<div>
  <div>Time Column</div>
  <column-select v-model="column"
    :columns="columnSelectOptions"
    @change="onSelectTimeColumn"
  ></column-select>
</div>
<div class="panel-buttons">
  <b-button variant="outline-secondary" @click="play" v-if="!isPlaying">Play <i class="fas fa-play"></i></b-button>
  <b-button variant="outline-secondary" @click="pause" v-if="isPlaying">Pause <i class="fas fa-pause"></i></b-button>
  <b-button variant="outline-secondary" @click="stop">Stop <i class="fas fa-stop"></i></b-button>
  <div class="section">
    Frames Per Second
    <form-input v-model="framesPerSecond"
      @input="setFramesPerSecond"
      @change="onFramesPerSecondChange"
    ></form-input>
  </div>
  <div class="section">
    Progress {{ currentTimeIndex + 1 }} / {{ timeValues.length }}
    <form-slider v-model="currentTimeIndex"
      :min="0" :max="this.timeValues.length - 1"
      :disabled="isPlaying"
      @input="setCurrentTimeIndex"
      @change="onSliderCurrentTimeIndexChange"
    ></form-slider>
  </div>

  <hr class="divider">
  <b-button variant="outline-secondary" @click="next(1)" :disabled="isPlaying">Next <i class="fas fa-arrow-right"></i></b-button>
  <b-button variant="outline-secondary" @click="previous" :disabled="isPlaying">Previous <i class="fas fa-arrow-left"></i></b-button>
</div>
