@import '../../common/style/index';

.color-scale-display {
  margin-top: $margin-size-sm;
  width: 90%; // accomodate space for the clear button
}

.dropdown-menu {
  .color-scale-display {
    width: 100%;
  }
}
