@import '../../common/style/index';

.option-panel {
  @extend %right-panel;
  bottom: $icon-size * 2;
  z-index: $zIndexOptionPanel;

  > .header {
    margin-top: $margin-size;
    @extend %padding;

    button {
      font-size: .75rem;
      margin: .25em;
    }
  }

  > .divider {
    margin: $margin-size 0;
    border-top: 1px solid #ccc;
    @extend %box-shadow;
  }

  > .content {
    @extend %padding;
  }
}
