.visflow .node.scatterplot {
  &.minimized > .icon {
    background-image: url('./imgs/scatterplot-icon.svg');
  }

  g.x.axis .vis-label {
    text-anchor: end;
  }

  g.y.axis .vis-label {
    text-anchor: start;
  }

  .select2-container {
    width: 100%;
  }
}
