@import 'src/common/common';

.visflow .node.property-mapping {
  &.minimized > .icon {
    background-image: url('./imgs/property-mapping-icon.svg');
  }

  &.details {
    height: 120px + 2 * $padding;
    width: 150px;

    .content > div {
      margin-top: $margin;
    }

    #number {
      margin-top: $padding-large;

      > .offset {
        top: 10px;
      }
    }

    #min,
    #max {
      > div {
        display: inline-block;
        width: calc(50% - #{$padding-extra-large});
      }

      input {
        font-size: .95em;
        overflow: hidden;
        padding: 3px 6px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

#option-panel .property-mapping {
  .select2-container,
  .form-control {
    width: 180px;
  }
}
