<!-- node-content -->
<div class="display">
  <i class="fas fa-database"></i>
  <div v-if="datasetName" class="name">{{ datasetName }}</div>
  <div v-else>No Dataset</div>
</div>
<!-- context-menu -->
<li @click="$refs.datasetModal.open()"><i class="fas fa-sm fa-database"></i>Load Dataset</li>
<!-- option-panel -->
<div class="bold">Dataset</div>
<div class="panel-name">{{ datasetName ? datasetName : 'none' }}</div>
<b-button variant="outline-secondary" id="btn-load-dataset"
  @click="$refs.datasetModal.open()">Load Dataset</b-button>
<hr class="divider">

<dataset-modal ref="datasetModal" selectable @selectDataset="onSelectDataset"></dataset-modal>
