.visflow .node.icon > .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75px;
}
/*
.visflow .flat-icon {
  background-size: 70px;
}
*/

.visflow .node.datasrc > .icon {
  background-image: url(/visflow/imgs/datasrc-icon.png);
}
.visflow .node.table > .icon {
  background-image: url(/visflow/imgs/table-icon.png);
}
.visflow .node.scatterplot > .icon {
  background-image: url(/visflow/imgs/scatterplot-icon.png);
}
.visflow .node.parallelcoordinates > .icon {
  background-image: url(/visflow/imgs/parallelcoordinates-icon.png);
}
.visflow .node.histogram > .icon {
  background-image: url(/visflow/imgs/histogram-icon.png);
}
.visflow .node.heatmap > .icon {
  background-image: url(/visflow/imgs/heatmap-icon.png);
}
.visflow .node.intersect > .icon {
  background-image: url(/visflow/imgs/intersect-icon.png);
}
.visflow .node.minus > .icon {
  background-image: url(/visflow/imgs/minus-icon.png);
}
.visflow .node.union > .icon {
  background-image: url(/visflow/imgs/union-icon.png);
}
.visflow .node.value-extractor > .icon {
  background-image: url(/visflow/imgs/value-extractor-icon.png);
}
.visflow .node.value-maker > .icon {
  background-image: url(/visflow/imgs/value-maker-icon.png);
}
.visflow .node.range > .icon {
  background-image: url(/visflow/imgs/range-icon.png);
}
.visflow .node.contain > .icon {
  background-image: url(/visflow/imgs/contain-icon.png);
}
.visflow .node.property-editor > .icon {
  background-image: url(/visflow/imgs/property-editor-icon.png);
}
.visflow .node.property-mapping > .icon {
  background-image: url(/visflow/imgs/property-mapping-icon.png);
}
