.visflow .icon-vismode {
  width: 50px;
  height: 20px;
  background-image: url(/visflow/imgs/vismode-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
