
/*
 * override some of the library settings, including
 * user agent
 * jquery-ui
 * context-menu
 */

/* user agent might default to 8 */

/*
body {
  margin: 0;
}
*/

/*
 * Otherwise, the submenu will leave empty spaces for icons
 */
/*
.ui-menu-icons .ui-menu-item .ui-menu-item {
  padding-left: 0.4em;
}

.ui-state-active,
.ui-state-focus,
.ui-state-default {
  font-weight: normal !important;
}

.ui-contextmenu {
  z-index: 1000;
}
.ui-widget-overlay {
  z-index: 10000;
}

.iris-picker {
  z-index: 1000;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
*/

/* prevent weird yellow/white box appear */
/*
.iris-square-value {
  border: 0px !important;
  background: transparent !important;
}
*/

/* Hides grip-se */
.ui-icon-gripsmall-diagonal-se {
  opacity: 0;
}
