body {
  overflow: hidden;
}

.visflow #alert {
  margin-top: 29px;
  text-align: center;
  z-index: 100;
}

.visflow .system-message {
  padding: 5px 15px;
}

.visflow #main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.visflow #edges {
  position: absolute;
}

.visflow #edge-drawing
{
  position: absolute;
  z-index: 1000; /* over other elements */
}

.visflow #selectbox {
  background: #e0cfc2;
  border: 1px solid black;
  opacity: 0.25;
  position: absolute;
  z-index: 1000;
}

.visflow .edge {
  z-index: -1;
}

.visflow .edge-segment {
  position: absolute;
  width: 100px;
  background-color: #777;
  height: 3px;
  transform-origin: 1.5px 50%;  /* half height to make rotated lines appear connected*/
}

.visflow .edge-segment-hover {
  box-shadow: 0px 0px 0px 5px #e0cfc2;
  background-color: #e0cfc2;
  z-index: -1;
}

.visflow .edge-arrow {
  position: absolute;
  width: 18px;
  height: 9px;
  background: url(/visflow/imgs/edge-arrow.png) no-repeat center;
  transform-origin: 0px 50%;
}

.visflow .edge-clone {
  z-index: 1000;
  pointer-events: none;
}


.visflow .options {
  left: 100%;
  top: 0%;
  position: absolute;
  padding: 5px;
  min-width: 100px;
  text-align: center;
}

.visflow .options-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.visflow .options-text {
  display: block;
  margin-bottom: 5px;
}

.visflow .table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.visflow .node-select {
  width: 90%;
}

.visflow .input {
  /* same as select2 */
  border: 1px solid #aaa;
  border-radius: 4px;
  line-height: 20px;
  background-image: linear-gradient(to top, #eee 0%, #fff 50%);
}
.visflow .input-node {
  text-align: center;
}

.visflow .text {
  pointer-events: none;
}

.tip-mouse {
  position: absolute;
  z-index: 2000;
  background: #FFF;
}

.visflow .input-leadtext {
  padding-right: 1em;
}

.visflow .node-label {
  font-size: 11px;
  line-height: 11px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  padding: 5px;
  left: 5px;
  top: -23px;
  background: white;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #ccc;
  vertical-align: text-top;
  -webkit-user-drag: none;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top: 4px !important;
  padding-bottom: 0 !important;
  height: 28px;
  font-size: 1em;
}

.visflow .navbar {
  min-height: 28px !important;
  z-index: 0;
}

.visflow .navbar-fixed-top {
  z-index: 101;
}


.visflow .navbar-fixed-top a:hover {
  cursor: pointer;
}

.visflow .navbar .dropdown-menu > li > a > i {
  margin-right: 10px;
}

.visflow .bold {
  font-weight: bold;
}
