/*
  Z-index list:
  navbar (menu) - 106
  message - 105
  node panel - 102
  option panel - 103
  main selectbox - 100
  main - 0
*/

body {
  overflow: hidden;
}

.visflow #message {
  margin-top: 29px;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 105;
}

.visflow .system-message {
  padding: 5px 15px;
  margin-bottom: 0px;
}

.visflow #main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 0;
}

.visflow #selectbox {
  background-color: rgba(102, 153, 238, 0.25);
  border: 1px solid #333;
  shape-rendering: crispEdges;
  position: absolute;
  z-index: 100;
}

.visflow .node-select {
  width: 90%;
}

.visflow .disabled {
  color: #ccc;
}

.visflow .input-node {
  text-align: center;
}

.visflow .text {
  pointer-events: none;
}

.visflow .input-leadtext {
  padding-right: 1em;
}

.visflow .navbar-fixed-top {
  z-index: 106;
}