.visflow .node.value-maker {
  &.minimized {
    height: 30px;
    width: 50px;

    > .icon {
      background-image: url('./imgs/value-maker-icon.png');
      height: 30px;
      width: 50px;
    }
  }

  &.details {
    height: 54px;
    width: 120px;

    input {
      font-size: .95em;
      text-align: center;
    }
  }
}
