@import 'src/common/common';

.select2-selection__rendered .gradient-div,
.select2-results__options .gradient-div {
  border-radius: $border-radius;
  box-shadow: 1px 1px 1px $gray-8;
  height: 15px;
}
