@import '../../common/style/index';

.quick-node-panel {
  position: absolute;
  width: 170px;
  height: auto;
  z-index: $zIndexQuickNodePanel;

  background-color: white;

  padding: $padding-size-lg;
  @extend %box;

  .node-list {
    margin-top: $section-margin-sm;
  }
}
