@import '../../common/style/index';

.port {
  width: 15px;
  height: 15px;
  background-color: white;
  @extend %box;

  &.hover, &:hover {
    @extend %bold-border;
  }

  &.active {
    @extend %extra-bold-border;
  }
}
