$gray-3: #333;
$gray-7: #777;
$gray-8: #888;
$gray-a: #aaa;
$gray-b: #bbb;
$gray-c: #ccc;
$gray-e: #eee;
$gray-e2: #e2e2e2;
$gray-e8: #e8e8e8;
$gray-f5: #f5f5f5;

$white: #fff;
$black: #000;
$red: #f00;

$dark-blue: #69e;

$selectbox-background: rgba(102, 153, 238, .25);

$trans-black-0: rgba(0, 0, 0, 0);
$trans-black-05: rgba(0, 0, 0, .05);
$trans-black-075: rgba(0, 0, 0, .075);

$trans-gray-224-5: rgba(224, 224, 224, .5);
$trans-gray-230-75: rgba(230, 230, 230, .75);

$trans-white-0: rgba(255, 255, 255, .0);
$trans-white-175: rgba(0, 0, 0, .175);
$trans-white-75: rgba(255, 255, 255, .75);

