
.editable-list #add {
  width: 100%;
  margin-top: 5px;
}

.editable-list .item {
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}

.editable-list .item > button {
  border: none;
  float: right;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.editable-list .item {
  cursor: pointer;
}

.editable-list ul {
  list-style: none;
  padding-left: 0px;
}

.editable-list .select2-container {
  width: 100% !important;
}

.editable-list .select2-container--default .select2-selection--single .select2-selection__placeholder {
  padding-right: 15px;
}