.visflow .unit {
  margin: 5px;
  line-height: 25px;
}

.visflow .unit-text {
  display: inline-block;
}

.visflow .input-color {
  font-family: Courier !important;
  text-align: center;
  width: 60px;
}

.visflow .colorbox {
  width: 22px;
  height: 22px;
  border: 1px solid gray;
  border-radius: 3px;
  display: inline;
  position: absolute;
  right: 10px;
}

.visflow .unit-container {
  position: absolute;
  display: inline-block;
}

.visflow .unit-input {
  width: 90%;
  font-family: Courier !important;
  text-align: center;
  line-height: 20px;
}
.visflow .unit-checkbox {
  top: 2px;
  position: relative;
}

.visflow .unit-select {
  width: 100%;
  text-align: center;
  top: -3px;
}

.visflow .div-scale {
  height: 10px;
  margin-top: 3px;
}
