<!-- node-content -->
<div v-if="mode === 'assignment'" class="display-wrap">
  <div class="display" v-if="visuals.color || visuals.border">
    <i class="color" :style="{ 'background-color': visuals.color || visuals.border }"></i>
  </div>
  <div class="display center" v-else-if="visuals.size || visuals.width || visuals.opacity">
    <div>
      {{ visuals.size ? 'size' : (visuals.width ? 'width' : 'opacity') }}
      {{ visuals.size || visuals.width || visuals.opacity }}
    </div>
  </div>
  <div v-else class="display center">
    <div>No Visuals</div>
  </div>
</div>
<div v-if="mode === 'encoding'">
  encoding
  <!-- TODO: add encoding display -->
</div>

<!-- option-panel -->
<form-select
  v-model="mode"
  :options="modeOptions"
  :clearable="false"
></form-select>
<div v-if="mode === 'assignment'">
  <div class="subsection">
    Color
    <color-input v-model="visuals.color" @input="dyeAndPropagate"></color-input>
  </div>
  <div class="subsection">
    Border
    <color-input v-model="visuals.border" @input="dyeAndPropagate"></color-input>
  </div>
  <div class="subsection">
    Size
    <form-input v-model.number="visuals.size" @input="dyeAndPropagate"></form-input>
  </div>
  <div class="subsection">
    Width
    <form-input v-model.number="visuals.width" @input="dyeAndPropagate"></form-input>
  </div>
  <div class="subsection">
    Opacity
    <form-input v-model.number="visuals.opacity" @input="dyeAndPropagate"></form-input>
  </div>
</div>
<div v-if="mode === 'encoding'">
</div>
