@import '../../common/style/index';

.subsection {
  margin-top: $margin-size;
}

.display {
  height: 100%;
  @extend %vertical-center;
  text-align: center;

  > div {
    width: 100%;

    &:first-child {
      @extend %ellipsis-text;
    }
  }

  i.color {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 4px;
    border: 1.25px solid #555;
  }
}

.color-scale-display {
  height: 1rem;
  width: 90%;
}
