<!-- node-content -->
<div v-if="mode === 'assignment'" class="display">
  <template v-if="visuals.color || visuals.border">
    <i class="color" :style="{ 'background-color': visuals.color || visuals.border }"></i>
  </template>
  <template v-else-if="visuals.size || visuals.width || visuals.opacity">
    <div>
      {{ visuals.size ? 'size' : (visuals.width ? 'width' : 'opacity') }}
      {{ visuals.size || visuals.width || visuals.opacity }}
    </div>
  </template>
  <template v-else >
    <div>(no visuals)</div>
  </template>
</div>
<div v-if="mode === 'encoding'" class="display">
  <div class="bold" v-if="dataset && encoding.column !== null">{{ dataset.getColumnName(encoding.column) }}</div>
  <div v-else>(no column)</div>
  <template v-if="encoding.type === 'color' || encoding.type === 'border'">
    <div>{{ encoding.type }}</div>
    <color-scale-display v-if="encoding.colorScale.id" class="color-scale-display"
      :id="encoding.colorScale.id"></color-scale-display>
    <div v-else>(no scale)</div>
  </template>
  <template v-else-if="encoding.type === 'size' || encoding.type === 'width' || encoding.type === 'opacity'">
    <div>{{ encoding.type }}</div>
    <div>[{{ encoding.numericalScale.min }}, {{ encoding.numericalScale.max }}]</div>
  </template>
  <template v-else>
    <div>(no encoding)</div>
  </template>
</div>

<!-- option-panel -->
Mode
<form-select
  v-model="mode"
  :options="modeOptions"
  :clearable="false"
  @input="updateAndPropagate"
></form-select>
<hr class="divider">
<div v-if="mode === 'assignment'">
  <div class="subsection">
    Color
    <color-input v-model="visuals.color" @input="updateAndPropagate"></color-input>
  </div>
  <div class="subsection">
    Border
    <color-input v-model="visuals.border" @input="updateAndPropagate"></color-input>
  </div>
  <div class="subsection">
    Size
    <form-input v-model.number="visuals.size" @input="updateAndPropagate"></form-input>
  </div>
  <div class="subsection">
    Width
    <form-input v-model.number="visuals.width" @input="updateAndPropagate"></form-input>
  </div>
  <div class="subsection">
    Opacity
    <form-input v-model.number="visuals.opacity" @input="updateAndPropagate"></form-input>
  </div>
</div>
<div v-if="mode === 'encoding'">
  <div class="subsection">
    <div>Column</div>
    <column-select
      v-model="encoding.column"
      :columns="columnSelectOptions"
      :clearable="false"
      @input="updateAndPropagate"
    ></column-select>
  </div>
  <div class="subsection">
    <div>Property</div>
    <form-select
      v-model="encoding.type"
      :options="encodingTypeOptions"
      @input="updateAndPropagate"
      :clearable="false"
    ></form-select>
  </div>
  <div class="subsection">
    <div>Scale</div>
    <color-scale-select
      v-model="encoding.colorScale.id"
      @input="updateAndPropagate"
    ></color-scale-select>
  </div>
</div>
