.visflow .parallel-coordinates {
  &.minimized > .icon {
    background-image: url('./imgs/parallelcoordinates-icon.png');
  }

  &.details {
    height: 200px;
    width: 600px;
  }

  path {
    fill: none;
    shape-rendering: optimizeSpeed;
  }
}
