.visflow .node {
  position: absolute;
}

.visflow .node > .content {
  padding: 10px;
  width: 100%;
  height: 100%;
}

.visflow .node > .background {
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.visflow .node.hover > .background,
.visflow .node.selected > .background {
  border-width: 3px;
}

.visflow .node.hover > .background {
  border-color: #bbb;
}

.visflow .node.selected > .background {
  border-color: #777;
}

.visflow .node.details.shape-small {
  width: 75px;
  height: 75px;
}

.visflow .node.details.shape-medium {
  width: 100px;
  height: 100px;
}

.visflow .node.details.shape-superflat {
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 5px;
  text-align: center;
}

.visflow .node.details.shape-set {
  width: 80px;
  height: 40px;
  background-size: 50px 25px;
}

.visflow .node.details.shape-longflat {
  width: 160px;
  height: 80px;
  padding: 5px;
}

.visflow .node.details.shape-value-extractor {
  width: 150px;
  height: 60px;
  line-height: 10px;
  text-align: center;
}

.visflow .node.property-editor {
  width: 150px;
  padding: 5px;
}

.visflow .node.property-mapping {
  width: 200px;
  padding: 5px;
}

.node .popup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.node .popup * {
  position: absolute;
}

.node .popup .text {
  font-size: 0.95em;
  margin-top: 5px;
  text-align: center;
  top: calc(50% - 0.95em);
  width: 100%;
}

.node .popup .text.with-image {
  top: calc(55% - 0.95em);
}

.node .popup .cover {
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0.9;
}

.node .popup .image-hourglass {
  left: calc(50% - 40px/2);
  top: calc(55% - 59px);
}

.node .popup .image-failure {
  left: calc(50% - 50px/2);
  top: calc(55% - 50px);
}
