@import '../../common/style/index';

.app-header {
  @extend %ui-font, %box-shadow;
  padding-top: 0;
  padding-bottom: 0;
  z-index: $zIndexAppHeader;

  #logo {
    font-weight: bold;

    > img {
      width: 30px;
    }
  }

  /deep/ .dropdown-toggle > span {
    color: #333;
  }

  /deep/ .dropdown-item {
    outline: none;

    @extend %list-item;
  }
}
